.container {
  min-height: 100vh;
  background: #f4f6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.mainButton {
  background: #1f7a3d;
  color: white;
  border: none;
  padding: 16px 32px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 30px;

  /* Adicione estas linhas */
  width: 100%;
  max-width: 400px; 
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
  margin-top: 20px; /* Espaçamento entre o card e o botão de baixo */
  
}

.mainButton:hover {
  background: #17612f;
}

.card {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.subtitle {
  font-weight: 600;
  margin-bottom: 12px;
}

.progressBar {
  width: 100%;
  height: 12px;
  background: #e0e0e0;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress {
  height: 100%;
  background: #1f7a3d;
}

.progressText {
  text-align: center;
  font-size: 14px;
  color: #333;
}

