.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e2e8f0;
  z-index: 1000;
  padding-bottom: env(safe-area-inset-bottom); /* Suporte para iPhone */
}

.link {
  text-decoration: none;
  color: #64748b;
  font-size: 0.85rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.active {
  color: #22c55e; /* Verde do seu tema */
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}