.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 64px;
  background: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #e0e0e0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);

  z-index: 100;
}

.link {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
  color: #777;
}

.active {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 700;
  color: #1f7a3d;
}
