.chartWrapper {
  background: #ffffff;
  padding: 24px 16px;
  border-radius: 20px;
  margin: 16px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* Mesma sombra do seu calendário */
}

.chartTitle {
  font-size: 13px;
  color: #64748b;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
  font-weight: 700;
  text-align: center;
}